<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Community Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 600px;
            margin: 50px auto;
        }
        .alert {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Community Finder</h1>
        <p>
            Feeling left out? Not anymore! Our website helps young people find a sense of belonging by connecting them with communities that share their interests and hobbies. Sign up to discover programs tailored just for you.
        </p>
    <!--    <form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    -->    
       <!-- <form method="POST" action="{{ url_for('home') }}">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        
            </div>
        
            <a href="/interest">Submit</a>
           --> 
            <button><a href="/signup" >Sign up</a></button>
            <button><a href="/signin" >Sign in</a></button>
            
        <!-- </form> -->
    </div>
</body>
</html>
