<html>
    <label for="instrument">What instrument do you play :</label>

    <select name="Istrument" id="instrument">
    <option value="Piano">Piano</option>
    <option value="Guitar">Guitar</option>
    <option value="Drums">Drums</option>
    <option value="Flout">Flout</option>
    </select>

    <label for="Hobbies">What is your hobby :</label>

    <select name="Hobbies" id="Hobbies">
    <option value="reading">Reading</option>
    <option value="horse_riding">Horse Riding</option>
    <option value="outdoor_training">/option>
    <option value="journaling">Journaling</option>
    </select>


</html>

